.vegas-overlay {
    opacity: .2;
  }
  
  .vegas-timer-progress {
    background: #fff;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }